
body {
    background-color: rgb(60, 95, 250);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: rgba(43, 17, 9, 0.841);
}
.box{
    background-color: rgb(226, 43, 43);
    padding: 20px;
    margin: 3px;
    border-radius: 4px;
}
.title{
    margin-top: 0;
    color: rgb(29, 210, 59);
}
.btn{
    padding: 10px;
    background-color: rgba(71, 140, 6, 0.381);
    color:rgb(200, 35, 17);
    border-radius: 4px ;
    margin-top: 10px;
    display: inline-block;
    transition: background 0.3s;
}
.btn:hover{
    background-color: rgb(8, 72, 109);
}
#header{
    background-color:rgb(156, 106, 14);
    color: azure;
    text-align: center;
    padding: 20px;
}
#header h1{
    margin: 0;
    font-size: 28px;
}
#menu{
    background-color:orange;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
#menu ul li {
    position: relative; 
}
#menu ul li a {
    display: block;
    padding: 15px;
}
#menu ul li:hover {
    background-color: rgba(0, 107, 128, 0.91);
}
#menu ul li ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    background-color: rgb(19, 143, 44);
    min-width: 180x;
    flex-direction: column;
    z-index: 100;
}
#menu ul li:hover ul{
    display: flex;
}
#menu ul li ul li ul {
    top: 0;
    left: 100%;
}
#main{
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    gap: 20px;
}
#content{
    flex: 3;
}
#sidebar{
    flex: 1;
}
#footer{
    background-color: rgb(115, 115, 221);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
}
#footer p{
    margin: 0;
}